<style>
  .centered {
    width: 90%;
    margin: 0 auto;
  }

  .date {
    font-family: 'Courier New';
    font-size: 12px;
  }

  .content {
    font-size: 20px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }

  .fa-heart {
    color: #f44336;
  }

  .fa:hover {
    color: #f44336;
  }
</style>

{{#if user}}
{{#each blogs}}
<div onload="loadFunction()" style="background:white;margin-bottom:2em;padding-right:1em;padding-bottom:0;"
  class="centered">
  <h3 style="display: inline-block;">{{this.blog.title}}</h3>
  <button type="button" href="/delete-blog?id={{this._id}}" id={{this._id}}
    class="delete-btn btn btn-danger float-right">Delete</button>

  <button id="edit{{this._id}}" type="button" style="height:35px;"
    class="edit-btn btn-primary float-right">Edit</button>
  <p id="content{{this._id}}" class="content">{{this.blog.content}}</p>
  <p style="display: inline-block;" class="date">{{this.blog.date}}</p>
  <button id="save{{this._id}}" style="display:none;float:right">Save</button>
  <button id="clear{{this._id}}" style="display:none;float:right">Clear</button>

</div>
{{/each}}
{{else}}
<h3 align="center">Publish And Read Blogs Here</h3>
{{/if}}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var editButtons = document.querySelectorAll("[id^='edit']");
    var saveButtons = document.querySelectorAll("[id^='save']");
    var clearButtons = document.querySelectorAll("[id^='clear']");
    var originalContent = {};

    editButtons.forEach(function (button, index) {
      var contentId = button.id.replace("edit", "content");
      var saveButtonId = button.id.replace("edit", "save");
      var clearButtonId = button.id.replace("edit", "clear");


      button.addEventListener("click", function () {
        document.getElementById(saveButtonId).style.display = "block";
        document.getElementById(clearButtonId).style.display = "block";
        originalContent[contentId] = document.getElementById(contentId).innerHTML;
        document.getElementById(contentId).contentEditable = true;
      });
    });

    saveButtons.forEach(function (button, index) {
      var contentId = button.id.replace("save", "content");
      var clearButtonId = button.id.replace("save", "clear");

      document.getElementById(contentId).addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.execCommand('insertHTML', false, ' ');
        }
      });

      button.addEventListener("click", function () {

        content = document.getElementById(contentId).innerHTML

        $.ajax({
          url: '/edit-content?id=' + contentId.slice(7) + '&content=' + content,
          method: 'post',
          success: (response) => {
            console.log(response)
          }
        })
        document.getElementById(clearButtonId).style.display = "none";
        button.style.display = "none";
        document.getElementById(contentId).contentEditable = false;
      });
    });

    clearButtons.forEach(function (button, index) {
      var contentId = button.id.replace("clear", "content");

      button.addEventListener("click", function () {

        document.getElementById(contentId).innerHTML = originalContent[contentId];
      });
    });
  });

  const deleteBtns = document.querySelectorAll(".delete-btn");
  deleteBtns.forEach(function (btn) {
    btn.addEventListener("click", function (event) {
      event.preventDefault();
      const confirmDelete = confirm("Are you sure you want to delete this item?");
      if (confirmDelete) {
        window.location.href = this.href;
      }
    });
  });

</script>